#app {
  padding: 30px;
}

.masonry-list[data-colum="5"] {
  margin-top: 40px;
  column-gap: 30px;
  column-count: 5;
}


@media (min-width: 200px) and (max-width: 600px) {
  .masonry-list[data-colum="5"]{
    column-count: 1;
  }
  [class^='project-']{
    margin-top: 15px;
    font-size: 12px;
  }
  [class^='project-'] span {
    font-size: 12px;
  }
  .project-name { font-size: 16px !important; }

  .list-filter label { font-size: 14px !important; padding: 10px 10px 0 0 !important}
}

@media (min-width: 600px) and (max-width: 1000px) {
  .masonry-list[data-colum="5"]{
    column-count: 2;
  }
}

@media (min-width: 1000px) and (max-width: 1919px) {
  .masonry-list[data-colum="5"]{
    column-count: 4;
  }
}

.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 70px;
}
.masonry-item img {
  width: 100%;
}

h1.top-title {
  font-weight: normal;
  font-size: 30px;
  font-family: 'Black Han Sans', sans-serif;
  border-bottom: 10px solid #f1d806;
  display: inline-block;
}

.list-filter {
  margin-top: 30px;
}

.list-filter label {
  padding: 0 20px;
  cursor: pointer;
}
.list-filter label:first-child {
  padding-left: 0;
}
.list-filter input {
  display: none;
}

.lists-view {
  margin-top: 30px;
}

[class^='project-'] {
  margin-top: 15px;
  display: block;
}

[class^='project-'] span {
  background-color: #333;
  padding: 3px 5px;
  color: #fff;
  margin-right: 10px;
}

.project-name {
  font-size: 20px;
  font-weight: 700;
}

.project-url {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 5px;
}
